<p>
  Find a powerful artifact that magically enhances the player's vision with a zoom effect while aiming a bow or crossbow. Requires OpenMW-Lua. Based on <a href="https://gitlab.com/ptmikheev/openmw-lua-examples#advanced-camera">Advanced Camera / Bow Aiming</a> by ptmikheev.
</p>
<div class="center">
  <img src="/img/marksmans-eye.gif" title="The mod in action" />
</div>
<div id="modathon" class="center">
  <img src="/img/cheev2022-banner.png" title="Part of the May Modathon 2022!" />
  <img src="/img/cheev2022-cluttermonkey.png" title="Part of the May Modathon 2022!" />
  <img src="/img/cheev2022-noviceofmadness.png" title="Part of the May Modathon 2022!" />
  <img src="/img/cheev2022-adventuresawait.png" title="Part of the May Modathon 2022!" />
  <img src="/img/cheev2022-letmetweakthat.png" title="Part of the May Modathon 2022!" />
  <img src="/img/modathon-2022.png" title="Part of the May Modathon 2022!" />
</div>
<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above (OpenMW 0.48.0 or newer is required!)</li>
  <li>Extract the contents to a location of your choosing, examples below:
    <pre><code># Windows
C:\games\OpenMWMods\Camera\MarksmansEye

# Linux
/home/username/games/OpenMWMods/Camera/MarksmansEye

# macOS
/Users/username/games/OpenMWMods/Camera/MarksmansEye</code></pre>
  </li>
  <li>Add the appropriate data path to your <code>openmw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\Camera\MarksmansEye"</code>)</li>
  <li>Add <code>content=marksmans-eye.omwaddon</code> and <code>content=marksmans-eye.omwscripts</code> to your load order in <code>openmw.cfg</code> or enable them via OpenMW-Launcher</li>
  <li>Enjoy!</li>
</ol>
